:root{
    font-size: 16px;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
a, img, strong {
    display: inline-block;
}
.material-symbols-outlined {
    background-color: blueviolet;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
